:root {
    --gold-crayola: #dcc48eff;
    --beige: #eaefd3ff;
    --blue-bell: #9fa0c3ff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#navbar {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--blue-bell);
    color: white;

}

#titleNavbar {
    font-size: 1.2rem;
    font-weight: 700;

}

.pageList {
    display: flex;
}

.pageList a {
    margin: .5rem;
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: .5rem;
    transition: ease all .2s;
}

.pageList a.active,
.pageList a:hover {
    background-color: #e1e1f5a8;
}